@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>CIS 262AD Final Project</h1>
    <p>Manipulating the School Database</p>
    <br />
    <p class="lead">Quick Links:</p>
    <p>
        <a href=/Student/Add class="btn btn-primary btn-lg">Add Student &raquo;</a>
        <a href=/Exam/Add class="btn btn-warning btn-lg">Add Exam Score &raquo;</a>
        <a href=/Teacher/Add class="btn btn-danger btn-lg">Add Teacher &raquo;</a>
        <a href=/Report/Index class="btn btn-success btn-lg">View Grade Report &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Description:</h2>
        <p>Name: David Minkowski</p>
        <p>Course: CIS 262AD - Summer 2018 - Class: 11766</p>
        <p>Assignment: Final Project</p>
        <p>Date: 8/5/2018</p>
        <p>For our final project I've created a simple web interface which allows a user to add, edit or delete entries from the school.db database. The report generates a table and a bar graph to display the top exam score for each student while also displaying each exam score and its associated letter grade.</p>
    </div>
</div>