@using Lesson8Project.Models
@model ReportModel
@{
    ViewBag.Title = "Index";
}

<h2>Sales By Country</h2>
<div id="chartcontainer"></div>

@section Scripts
{
    <script src="http://cdn.syncfusion.com/js/assets/external/jquery-1.10.2.min.js"></script>
    <!-- Essential JS UI widget -->
    <script src="http://cdn.syncfusion.com/14.3.0.49/js/web/ej.web.all.min.js "></script>

    <script type="text/javascript">

        var data = @Html.Raw(Json.Encode(Model.ReportRows));


        $(function () {
            $('#chartcontainer').ejChart({
                series: [{
                    dataSource: data,
                    xName: 'Country',
                    yName: 'Total',
                    name: 'Sales By Country'
                }],
                primaryXAxis:
                {
                    title: { text: 'Country' },
                    labelRotation : 90,
                    labelFormat:"{value}$",
                },
                primaryYAxis: {
                    labelFormat: 'c2'
                },
                commonSeriesOptions:
                {
                    type: 'pie',
                    enableAnimation: true,
                    tooltip:{visible:true, format: "#point.y#"},
                },
            });
        });
    </script>
}

<h2>List of Sales by Country</h2>
<table>
    <tr>
        <th>Country</th>
        <th>Sales</th>
    </tr>
    @foreach (var row in Model.ReportRows)
    {
        <tr>
            <td>@row.Country</td>
            <td>@row.Total.ToString("C2")</td>
        </tr>
    }
</table>

