@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Lesson 10</h1>
    <p class="lead">Click either of the buttons below to add a new customer or create a new invoice.</p>
    <p><a href=/Customer/Add class="btn btn-primary btn-lg">Add Customer &raquo;</a>
    <a href=/Invoice/Add class="btn btn-primary btn-lg">Create Invoice &raquo;</a></p>
</div>

<div class="row">      
    <div class="col-md-4">
        <h2>Description:</h2>
        <p>Name: David Minkowski</p>
        <p>Course: CIS 262AD - Summer 2018 - Class: 11766</p>
        <p>Assignment: Lesson 10</p>
        <p>Date: 7/23/2018</p>
        <p>With this assignment I've created a user interface which allows users to view, edit, insert (add) and delete data from the customer and invoice tables of the chinook database.</p>
    </div>
</div>