@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lesson 7 Project</h1>
    <p>By Dave Minkowski</p>
    <p class="lead">This project will allow a user to input customer information into a website and receive confirmation that they have successfully done so.</p>
    <br />
    <p>Lesson 7 Update: User will now input a project cost into the web form which will be validated as a numeric entry. </p>
    <br />
    <p>Click the button below to begin:</p>
    
    <p><a href="/Customer/CreateCustomer" class="btn btn-primary btn-lg">Add Customer &raquo;</a></p>
</div>
