@{
    ViewBag.Title = "";
}

<div class="jumbotron">
    <h1>Lesson 11</h1>
    <p class="lead">Click one of the buttons below to add a new customer or create a new invoice.</p>
    <p><a href=/Customer/Add class="btn btn-primary btn-lg">Add Customer &raquo;</a>
    <a href=/Invoice/Add class="btn btn-primary btn-lg">Create Invoice &raquo;</a></p>
    <p class="lead">Click the red button to view the Sales per Country.</p>
    <p><a href=/Report/Index class="btn btn-danger btn-lg">View Sales &raquo;</a>
</div>

<div class="row">      
    <div class="col-md-4">
        <h2>Description:</h2>
        <p>Name: David Minkowski</p>
        <p>Course: CIS 262AD - Summer 2018 - Class: 11766</p>
        <p>Assignment: Lesson 11</p>
        <p>Date: 7/26/2018</p>
        <p>With this assignment I've added a report table and pie chart which shows the total amount of sales per country referencing two separate tables (Customer and Invoice) from the chinook database.</p>
    </div>
</div>